
.createEntry{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .10rem;
    text-align: center;
    justify-items: center;
}
.entry{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: .10rem;
    height: fit-content;
}

/* To set div to display at top so when the user click it will click the div instead of the label 
when doubleclicking an entry*/
.entry label{
    z-index: -1;
}
.modify{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.modify input{
    height: fit-content;
}
.modify div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .1rem;
    padding: .2rem;
    height: fit-content;
}
.modify div button{
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem;
    height: fit-content;
}
.modify div label{
text-align: center;
}
.createEntry>button{
    width: fit-content;
    grid-column-start: -1;
    grid-column-end: 4;
    grid-row-start: -1;
    grid-row-end: -2;
}
.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login>div{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-rows: .5fr , .5fr, 1fr;
    gap: 5px;
}

.login>div>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.button{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.register>form{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, .5fr);
    gap: 5px;    
}
.register>div>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
    gap: .2rem;
}
.navBar>div{
    position: absolute;
    justify-self: flex-start;
}

.navBar>div>h4>label{
    color: red;
}
.navBar>button{
    height:fit-content;
}
.navBar label{
    width: fit-content;
}
#endCycle{
    height: fit-content;
    width: 1rem;
    text-align: center;
    font-weight: bolder;
}