
.createEntry{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 10%;
    gap: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .10rem;
    text-align: center;
    justify-items: center;
}
.createEntry>button{
    grid-column-start: -1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.entry{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: .10rem;
    height: fit-content;
}

/* To set div to display at top so when the user click it will click the div instead of the label 
when doubleclicking an entry*/
.entry label{
    z-index: -1;
}
.modify{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.modify input{
    height: fit-content;
    width: 100%;
}
.modify div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .1rem;
    padding: .2rem;
    height: fit-content;
}
.modify div button{
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem;
    height: fit-content;
}
.modify div label{
text-align: center;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.login>div{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-rows: .5fr , .5fr, 1fr;
    gap: 5px;
}

.login>div>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.button{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.register>form{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, .5fr);
    gap: 5px;    
}
.register>div>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    /* display: flex; */
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    padding: .5rem;
    gap: .2rem;
}
.logout{
    display: grid;
    grid-auto-flow: column;
}
.options{
    display: flex;
    gap: .25rem;
}
.logout>div{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
.logout h4{
    font-size: 1rem;
}
/* .navBar>div{
    position: absolute;
    justify-self: flex-start;
} */

.navBar>div>h4>label{
    color: red;
}
.navBar>button{
    height:fit-content;
}
.navBar label{
    width: fit-content;
}

@media (max-width: 1000px) {
.createEntry{
    grid-template-columns:  1fr 1fr 1fr 10%;
}
.createEntry>input{
    width: 100%;
}

.navBar>h4{
    font-size: 15px;
}
.navBar label{
    font-size: 15px;
}
.navBar>div>h4>label{
    font-size: 20px;
}
.navBar input{
    font-size: 15px;
}
.navBar select{
    font-size: 15px;
    max-width: 6rem;
}
.navBar select[name="year"]{
    max-width: 4rem;
}
}
#endCycle{
    height: fit-content;
    width: 1rem;
    text-align: center;
    font-weight: bolder;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    bottom: 0;
    font-weight: bold;
}
.container{
    min-width: 780px;
    min-height: calc(100vh - 2.5rem);
}

.vr{
    align-self: center;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
}
.vr>label{
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 50%;
    background-color: inherit;
    z-index: 1;
}

a{
    color: white;
}
.listUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listUser>div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 1rem;
}